/* Firebug Tracing Console customization. All messages from this example use this color.
   This helps to distinguish logs from those coming from Firebug
   Rule syntax: .DBG_<ext-id>
   
   See: http://getfirebug.com/wiki/index.php/FBTrace for more details */
.DBG_DRUPALFORFIREBUG {
  background-color: #102C17;
  color: #61ce3c;
}

.DBG_DRUPALFORFIREBUG:hover {
  color: #102C17
}