/* Style applied on the panel node.

   Rule syntax: .panelNode-<ext-id> */
.panelNode-drupalforfirebug,.panelNode-drupalforfirebug iframe html body  {
  padding: .5em 1ex;
  font-size: 1.25em;
  font-family: Helvetica;
}
