/* Style applied on the panel node.

   Rule syntax: .panelNode-<ext-id> */
/* line 4, ../../../sass/drupalforfirebug.scss */
.panelNode-drupalforfirebug {
  overflow: scroll;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}
